# Include important package files
include README_PYPI.md
include LICENSE
recursive-include backend *.py
recursive-exclude backend *.pyc
recursive-exclude backend __pycache__
recursive-exclude backend .venv
recursive-exclude backend/.venv *
recursive-exclude * *.egg-info
recursive-exclude * .DS_Store
recursive-exclude * .pytest_cache
recursive-exclude * __pycache__