# Generated requirements lockfile
django==3.2.13    # direct
asgiref==3.9.1    # via django
sqlparse==0.5.3    # via django
pytz==2025.2    # via django
requests==2.25.1    # direct
urllib3==1.26.5    # via requests
certifi==2025.8.3    # via requests
chardet==4.0.0    # via requests
idna==2.10    # via requests
